<h1 style="font-size:3rem;color:maroon;"> Predicting Air Pollution Level using Machine Learning</h1>

This notebook is created for the modelling.

<h2><font color=slateblue> Preparing the tools </font></h2>

In [1]:
# Regular EDA
import pandas as pd

# Modelling
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import RandomForestRegressor

<h2><font color=slateblue>Read CSV file </font></h2>

In [2]:
# read prepared dataset csv file
df_grouped_numerical = pd.read_csv("data/df_grouped_numerical.csv")
df_grouped_numerical.sample(5)

,PC4,pm2.5,wd,ws,ssrd,blh,people_number,wd_group,year,month,day,day_of_week,day_of_year
131,5614,5.43,264.39,3.48,123.08,533.99,9330.0,12,2021,9,28,1,271
81,5616,7.03,247.86,4.28,76.32,576.90,10624.0,11,2021,9,27,0,270
216,5623,3.87,253.33,5.31,74.04,726.15,17723.0,11,2021,10,1,4,274
610,5641,6.00,170.17,2.76,59.89,395.44,8111.0,8,2021,10,13,2,286
1814,5658,9.77,218.83,4.42,47.15,418.33,2555.0,10,2021,11,18,3,322

<h2><font color=slateblue>Modelling </font></h2>

<h4><font color=mediumvioletred>Get X and y</font></h4>

In [3]:
df_grouped_numerical["pm2.5"] = df_grouped_numerical["pm2.5"].astype(int)
    
X = df_grouped_numerical.drop("pm2.5", axis=1)
y = df_grouped_numerical["pm2.5"]

<h4><font color=mediumvioletred>Get a sample of X </font></h4>

In [4]:
X.sample(5)

,PC4,wd,ws,ssrd,blh,people_number,wd_group,year,month,day,day_of_week,day_of_year
1710,5615,41.43,2.85,25.67,377.07,7508.0,2,2021,11,15,0,319
954,5624,248.57,2.60,78.14,246.65,6342.0,11,2021,10,23,5,296
713,5625,242.70,1.76,78.39,418.74,14745.0,11,2021,10,16,5,289
105,5616,264.51,3.51,122.99,537.03,10628.0,12,2021,9,28,1,271
1402,5624,231.12,5.61,33.82,592.74,5277.0,10,2021,11,6,5,310

<h4><font color=mediumvioletred>Get a sample of y </font></h4>

In [5]:
y.sample(5)

1122     5
1773    18
499     24
587      7
273      2
Name: pm2.5, dtype: int32

<h4><font color=mediumvioletred>Split data into training and testing </font></h4>

In [6]:
df_train = df_grouped_numerical[((df_grouped_numerical.month == 11) & (df_grouped_numerical.day <= 7)) | 
                                (df_grouped_numerical.month == 10) | 
                                (df_grouped_numerical.month == 9)]
df_test = df_grouped_numerical[(df_grouped_numerical.month == 11) & (df_grouped_numerical.day > 7)]

len(df_train), len(df_test)

(1452, 363)

<h4><font color=mediumvioletred>Split data into X & y </font></h4>

In [7]:
X_train, y_train = df_train.drop("pm2.5", axis=1), df_train["pm2.5"]
X_test, y_test = df_test.drop("pm2.5", axis=1), df_test["pm2.5"]

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((1452, 12), (1452,), (363, 12), (363,))

<h4><font color=mediumvioletred>Model with RandomForestRegressor </font></h4>

In [8]:
model = RandomForestRegressor(n_jobs=-1,
                             random_state=42)

# fit the model
model.fit(X_train, y_train)

RandomForestRegressor(n_jobs=-1, random_state=42)

In [9]:
model.score(X_test, y_test)

-1.3631986291723894

<h4><font color=mediumvioletred>Model with SGDClassifier </font></h4>

In [10]:
model = SGDClassifier(n_jobs=-1,
                        random_state=42)

# fit the model
model.fit(X_train, y_train)

SGDClassifier(n_jobs=-1, random_state=42)

In [11]:
model.score(X_test, y_test)

0.07988980716253444